@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

::ng-deep {

    .content{
        position: relative;
    }

    .contentColumnMenu {
        border-top: 1px dotted $low-contrast-gray;
    }

    app-constituent-detail {
        height:100%;
    }

    .mainActions app-notification .alertContainer{
        position: absolute;
        width: 100%;
        top: -80px;
        padding: 0 30px;
    }

    .screen-overlay {
        .contentContainer {
            height: 100%;
        }
    }
}
